<!DOCTYPE html>
<html lang="en">

<head>
            <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Krzysztof Żuraw">


        <title>Two forms one view in django</title>

            <link href="https://krzysztofzuraw.com/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Krzysztof Żuraw Full Atom Feed" />
            <link href="https://krzysztofzuraw.com/feeds/all.rss.xml" type="application/rss+xml" rel="alternate" title="Krzysztof Żuraw RSS Feed" />
            <link href="https://krzysztofzuraw.com/feeds/blog.atom.xml" type="application/atom+xml" rel="alternate" title="Krzysztof Żuraw Categories Atom Feed" />
        <!-- Bootstrap Core CSS -->
        <link href="https://krzysztofzuraw.com/theme/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="https://krzysztofzuraw.com/theme/css/clean-blog.min.css" rel="stylesheet">

        <!-- Code highlight color scheme -->
            <link href="https://krzysztofzuraw.com/theme/css/code_blocks/monokai.css" rel="stylesheet">


        <!-- Custom Fonts -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->



        <meta name="description" content="Quick reference how to create two forms in one view using django.">

        <meta name="author" content="Krzysztof Żuraw">

        <meta name="tags" content="django">

	                <meta property="og:locale" content="en_US.utf8">
		<meta property="og:site_name" content="Krzysztof Żuraw">

	<meta property="og:type" content="article">
            <meta property="article:author" content="Krzysztof Żuraw" >
	<meta property="og:url" content="https://krzysztofzuraw.com/blog/2016/two-forms-one-view-django.html">
	<meta property="og:title" content="Two forms one view in django">
	<meta property="article:published_time" content="2016-06-26 10:20:00+02:00">
            <meta property="og:description" content="Quick reference how to create two forms in one view using django.">

            <meta property="og:image" content="https://krzysztofzuraw.com//images/covers/django.jpg">
            <meta name="twitter:card" content="summary_large_image" />
            <meta name="twitter:image" content="/images/covers/django.jpg">
        <meta name="twitter:site" content="@krzysztof_zuraw" />
        <meta name="twitter:title" content="Two forms one view in django" />
            <meta name="twitter:image" content="https://krzysztofzuraw.com//images/covers/django.jpg">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://krzysztofzuraw.com/">Krzysztof Żuraw</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                        <li><a href="/pages/about.html">About</a></li>
                        <li><a href="/archives.html">Archive</a></li>
                        <li><a href="/tags.html">Tags</a></li>
                        <li><a href="http://feeds.feedburner.com/krzysztofzuraw">RSS Feed</a></li>
                        <li><a href="https://feedburner.google.com/fb/a/mailverify?uri=krzysztofzuraw&amp;loc=en_US">Email Updates</a></li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
        <header class="intro-header" style="background-image: url('/images/covers/django.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1 >Two forms one view in django</h1>
                        <span class="meta">Posted on Sun 26 June 2016
                        </span>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <!-- Post Content -->
    <!-- TOC -->

    <article>
        <p><strong>This post is a reference for myself how to do a simple thing like rendering
two forms in one view using django framework.</strong></p>
<p>How will it be working? The idea is very simple. There will be only one view to
render both forms. Moreover, only GET method will be implemented to this view so
there won't be a possibility to send POST request. Underneath the first main view
will be 2 more views responsible only for handling POST request for both of
forms. The simple picture presenting this can be seen below:</p>
<img alt="Diagram presenting flow of request." src="/images/diagram.png" />
<p>Let's jump into the code. At first, there is main view responsible for rendering
forms:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">MainView</span><span class="p">(</span><span class="n">TemplateView</span><span class="p">):</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s1">&#39;sample_forms/index.html&#39;</span>

    <span class="k">def</span> <span class="nf">get</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="n">question_form</span> <span class="o">=</span> <span class="n">QuestionForm</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">request</span><span class="o">.</span><span class="n">GET</span> <span class="ow">or</span> <span class="bp">None</span><span class="p">)</span>
        <span class="n">answer_form</span> <span class="o">=</span> <span class="n">AnswerForm</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">request</span><span class="o">.</span><span class="n">GET</span> <span class="ow">or</span> <span class="bp">None</span><span class="p">)</span>
        <span class="n">context</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span><span class="o">**</span><span class="n">kwargs</span><span class="p">)</span>
        <span class="n">context</span><span class="p">[</span><span class="s1">&#39;answer_form&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">answer_form</span>
        <span class="n">context</span><span class="p">[</span><span class="s1">&#39;question_form&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="n">question_form</span>
        <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_to_response</span><span class="p">(</span><span class="n">context</span><span class="p">)</span>
</pre></div>
<p>This is simple <tt class="docutils literal">TemplateView</tt> which is responsible only for GET request. At first, my
setup question and answer form from the request. Right after that I add these forms to
context dictionary and render them on <tt class="docutils literal">sample_forms/index.html</tt>.</p>
<p>My <tt class="docutils literal">sample_forms/index.html</tt> looks as follows:</p>
<div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Question Form<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;{% url &#39;question&#39; %}&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;post&quot;</span><span class="p">&gt;</span>{% csrf_token %}
  {{ question_form }}
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Send Question&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">form</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Answer Form<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&quot;{% url &#39;answer&#39; %}&quot;</span> <span class="na">method</span><span class="o">=</span><span class="s">&quot;post&quot;</span><span class="p">&gt;</span>{% csrf_token %}
  {{ answer_form }}
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;submit&quot;</span> <span class="na">value</span><span class="o">=</span><span class="s">&quot;Send Answer&quot;</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">from</span><span class="p">&gt;</span>
</pre></div>
<p>I render both with different action so sending post request will point to different
URL: question form to <tt class="docutils literal">question_form/submit</tt> and answer form to <tt class="docutils literal">answer_form/submit</tt>.</p>
<p>Take a look into view responsible for handling POST request for both forms:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">QuestionFormView</span><span class="p">(</span><span class="n">FormView</span><span class="p">):</span>
    <span class="n">form_class</span> <span class="o">=</span> <span class="n">QuestionForm</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s1">&#39;sample_forms/index.html&#39;</span>
    <span class="n">success_url</span> <span class="o">=</span> <span class="s1">&#39;/&#39;</span>

    <span class="k">def</span> <span class="nf">post</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="n">question_form</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">form_class</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span><span class="p">)</span>
        <span class="n">answer_form</span> <span class="o">=</span> <span class="n">AnswerForm</span><span class="p">()</span>
        <span class="k">if</span> <span class="n">question_form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
            <span class="n">question_form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>
            <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_to_response</span><span class="p">(</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span>
                <span class="n">success</span><span class="o">=</span><span class="bp">True</span>
            <span class="p">)</span>
        <span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_to_response</span><span class="p">(</span>
            <span class="bp">self</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span>
                <span class="n">question_form</span><span class="o">=</span><span class="n">question_form</span><span class="p">,</span>
                <span class="n">answer_form</span><span class="o">=</span><span class="n">answer_form</span>
            <span class="p">)</span>
        <span class="p">)</span>


<span class="k">class</span> <span class="nc">AnswerFormView</span><span class="p">(</span><span class="n">FormView</span><span class="p">):</span>
    <span class="n">form_class</span> <span class="o">=</span> <span class="n">AnswerForm</span>
    <span class="n">template_name</span> <span class="o">=</span> <span class="s1">&#39;sample_forms/index.html&#39;</span>
    <span class="n">success_url</span> <span class="o">=</span> <span class="s1">&#39;/&#39;</span>

    <span class="k">def</span> <span class="nf">post</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="n">answer_form</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">form_class</span><span class="p">(</span><span class="n">request</span><span class="o">.</span><span class="n">POST</span><span class="p">)</span>
        <span class="n">question_form</span> <span class="o">=</span> <span class="n">QuestionForm</span><span class="p">()</span>
        <span class="k">if</span> <span class="n">answer_form</span><span class="o">.</span><span class="n">is_valid</span><span class="p">():</span>
            <span class="n">answer_form</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>
            <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_to_response</span><span class="p">(</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span>
                <span class="n">success</span><span class="o">=</span><span class="bp">True</span>
            <span class="p">)</span>
        <span class="p">)</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="k">return</span> <span class="bp">self</span><span class="o">.</span><span class="n">render_to_response</span><span class="p">(</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">get_context_data</span><span class="p">(</span>
                    <span class="n">answer_form</span><span class="o">=</span><span class="n">answer_form</span><span class="p">,</span>
                    <span class="n">question_form</span><span class="o">=</span><span class="n">question_form</span>
            <span class="p">)</span>
        <span class="p">)</span>
</pre></div>
<p>They are almost the same so I describe only one of them: <tt class="docutils literal">QuestionFormView</tt>.
In <tt class="docutils literal">post</tt>, I instantiate <tt class="docutils literal">question_form</tt> with POST request with user input.
Right after that, I initialize empty <tt class="docutils literal">answer_form</tt> because when the first form
will have some errors I want to present them and the second form. Without that
only form with errors will be rendered. Next lines are simple: check if forms
have errors: if not save the form and render <tt class="docutils literal">index.html</tt> with additional data
<tt class="docutils literal">success</tt>. Why? Because I can render on the same page information for the user
that request was sent like:</p>
<div class="highlight"><pre><span></span>{% if success %}
   <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Your request has been submitted<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
{% else %}
  # Forms here
{% endif %}
</pre></div>
<p>If the user input was invalid I render both forms: one with errors and other
without. It looks as follows:</p>
<video src="/videos/two_forms.webm" autoplay width="720" loop>
Your browser does not support the video tag.
</video><p>That's all for this post! Feel free to comment it! Code for this you can find
under this <a class="reference external" href="https://github.com/krzysztofzuraw/personal-blog-projects">link</a>.</p>
<p>Cover image by William P. Gottlieb  without license.</p>

    </article>

        <div class="tags">
            <p>tags: <a href="https://krzysztofzuraw.com/tag/django.html">django</a>, </p>
        </div>
        <p>If you find this blog post interesting please share:</p>
        <div class="addthis_sharing_toolbox"></div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57a7802d9a259bbe"></script>

        <div class="comments">
            <h2>Comments !</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'krzysztofzuraw';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//krzysztofzuraw.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the comments.</noscript>
        </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                            <li>
                                <a href="https://twitter.com/krzysztof_zuraw">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/krzysztofzuraw">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:krzysztof.zuraw@gmail.com">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://pl.linkedin.com/in/krzysztofzuraw">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                    </ul>
<p class="copyright text-muted">
    Blog powered by <a href="http://getpelican.com">Pelican</a>,
    which takes great advantage of <a href="http://python.org">Python</a>.
    This site use cookies for disqus and google analitics.
</p>                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://krzysztofzuraw.com/theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://krzysztofzuraw.com/theme/js/bootstrap.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="https://krzysztofzuraw.com/theme/js/clean-blog.min.js"></script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-72188452-2']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
<script type="text/javascript">
    var disqus_shortname = 'krzysztofzuraw';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>

</html>